*{
    margin: 0;
    padding: 0;
}

html {
    background-image: url(/css/img/img.png);
    background-size: cover;
}

.main{
    width: 0;
    height: 109vh;
}

h1, h2, h3, h4 {
    color: grey;
}

div {
    border: 1px solid black;
}

.navbar{
    width: 1200px;
    height: 70px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: orange;
}